html {
	font-size: 5vw;

	@media (min-width: 640px) {
		font-size: 32px;
	}

	@include media-breakpoint-up(md) {
		font-size: 16px;
	}
}

body {
	min-width: $base-min-width;
	font-family: $font-family-sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&.rtl {
		direction: rtl;
		text-align: inherit;
	}
}

.desktop-only {
	@include media-breakpoint-down(sm) {
		display: none !important;
	}
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
//input[type='url'],
// input[type='date'],
textarea,
select {
	-webkit-appearance: none;
}

input[type='search'] {

	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		display: none;
	}

	&::-ms-clear,
	&::-ms-reveal {
		display: none;
		width: 0;
		height: 0;
	}
}

a {
	color: $primary;
	text-decoration: underline;

	&:hover {
		color: $primary;
		text-decoration: none;
	}
}

a,
input,
button,
label {
	-webkit-tap-highlight-color: rgba($black, 0);

	&:focus {
		-webkit-tap-highlight-color: rgba($black, 0);
	}
}

button,
input[type="submit"] {
	cursor: pointer;
}

noscript {
	text-align: center;
	padding: 15px;
}

.sr-only.sr-only-focusable {
	&:focus {
		color: $white;
		font-size: 16px;
		font-weight: 700;
		line-height: 1.25;
		background: #051d2f;
		padding: 10px 15px;
		display: inline-block;
		vertical-align: top;
		margin: 5px;

		&[accesskey="m"],
		&[accesskey="c"] {
			z-index: 9999;
			position: fixed;
			text-decoration: none;
		}
	}
}

.container {
	@include media-breakpoint-up(md) {
		max-width: 767px;
	}

	@include media-breakpoint-up(lg) {
		max-width: 980px;
	}

	@include media-breakpoint-up(xl) {
		max-width: 1170px;
	}

	@include media-breakpoint-up(xxl) {
		max-width: 1280px;
	}
}

svg {
	width: 1em;
	height: 1em;
}

ins,
abbr {
	text-decoration: none;
}

.hidden,
legend {
	position: absolute;
	left: -9999px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.login-error {
	text-align: center;
	font-size: 1.2em;
	margin-top: 5px;
	color: #f00;
}

label,
span {
	&.error {
		color: #f00;
		display: inline-block;
		vertical-align: top;
	}
}

.btn {
	min-width: 150px;
	min-height: 45px;
	padding: 10px 15px;
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	letter-spacing: 0.5px;
	text-decoration: none;
	position: relative;
	border-radius: 100px;

	&:hover,
	&:focus,
	&:active,
	&:visited {
		box-shadow: none;
		outline: none;
	}

	&.btn-primary {
		color: $white;
		background-color: $primary;
		border-color: $primary;
		text-decoration: none;
		overflow: hidden;
		z-index: 9;

		&:after {
			content: "";
			background: $black;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			opacity: 0;
			visibility: hidden;
			z-index: -9;
		}

		&:hover {
			&::after {
				opacity: 0.15;
				visibility: visible;
			}
		}
	}

	&.btn-link {
		color: $primary;
	}

	span {
		overflow: hidden;
		margin-left: 7px;
	}

	svg {
		font-size: 12px;
		position: relative;
		top: 1px;
	}

	&:hover {
		svg {
			animation: text-button-arrow .35s linear forwards 1;
		}
	}
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
	background: $white;
}

@keyframes text-button-arrow {
    0% {
      transform: translateX(0%); 
    }
    
      50% {
      transform: translateX(100%); 
    }
    
      51% {
      transform: translateX(-100%); 
    }
    
      100% {
      transform: translateX(0%); 
    } 
}

.custom-checkbox {
	label {
		display: inline-block;
		position: relative;
		font-size: 14px;
		margin: 0;
		padding-left: 30px;
	}

	input[type="checkbox"] {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;

		&:checked {
			~.fake-input {
				&::before {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}

	.fake-input {
		position: absolute;
		top: 0px;
		left: 0;
		width: 20px;
		height: 20px;
		border: 1px solid rgba(0, 0, 0, 0.1);
		background: #fff;

		&::before {
			content: "";
			border-left: 2px solid #000;
			border-bottom: 2px solid #000;
			width: 12px;
			height: 6px;
			position: absolute;
			top: -3px;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			opacity: 0;
			visibility: hidden;
			transform: rotate(-45deg);
		}
	}

}

.backdrop-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba($black, 0.6);
	z-index: 9999;
	opacity: 0;
	visibility: hidden;
	transition: 0.5s ease opacity, 0.5s ease visibility, 0.5s ease filter, left 0.3s ease;

	.header_search_active & {
		opacity: 1;
		visibility: visible;
	}

	.mini_cart_active & {
		@include media-breakpoint-down(md) {
			opacity: 1;
			visibility: visible;
		}
	}

	.nav_active & {
		opacity: 1;
		visibility: visible;
		left: 11.25rem;
	}
}

.page-template-page-terms {
	#main {
		>.container {
			.row {
				margin-left: 0;
				margin-right: 0;

				@include media-breakpoint-down(sm) {
					font-size: rem-calc(14px);
				}
			}
		}
	}
}


@keyframes fadeIn {
	0% {}

	100% {
		opacity: 1;
	}
}

.css-loader {
	color: $primary;
	font-size: 60px;
	text-indent: -9999em;
	overflow: hidden;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	margin: 72px auto;
	position: relative;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
	animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes load6 {
	0% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}

	5%,
	95% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}

	10%,
	59% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
	}

	20% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
	}

	38% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
	}

	100% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
}

@keyframes round {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}