.image-banner {

    > .container {
        .ib-slider-holder {
            border-radius: 20px;
            overflow: hidden;
        }
    }
    
    .ib-slider-holder {
        position: relative;

        .left_align {
            .ib-slider-content-inner {
                text-align: left;
            }

            .btn-holder {
                justify-content: flex-start;
            }
        }

        .center_align {
            .ib-slider-content-inner {
                text-align: center;
            }

            .btn-holder {
                justify-content: center;
            }
        }
        
        .right_align {
            .ib-slider-content-inner {
                text-align: right;
            }

            .btn-holder {
                justify-content: flex-end;
            }
        }

        &:not(.slick-initialized) {
            .ib-slider {
                &:first-child {
                    ~ .ib-slider {
                        display: none;
                    }
                }
            }
        }

        .slick-track {
            display: flex;

            .ib-slider {
                display: flex;
                flex-direction: column;
                flex: 1;
                height: auto;
            }

            .ib-slider-img {
                display: flex;
                flex-direction: column;
                flex: 1;

                picture {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                }

                img {
                    flex: 1;
                    object-fit: cover;
                }
            }
        }

        .ib-slider {
            position: relative;
        }

        figure {
            margin: 0;
        }

        .banner-overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .ib-slider-content {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: 9;

            > .container {
                padding-top: 5%;
                padding-bottom: 5%;
            }

            > .ib-slider-content-inner {
                padding: 5% 10%;
            }
        }

        .ib-slider-subtitle {
            margin-bottom: 20px;
            font-size: 14px;
            text-transform: uppercase;
            line-height: 1;
            font-weight: 600;
            letter-spacing: 1px;
        }

        .ib-slider-title {
            margin-bottom: 20px;
            font-weight: 700;
            line-height: 1.3;
            font-size: clamp(#{rem-calc(15px)}, 4vw, 50px);
        }

        .ib-slider-desc {
            font-size: 18px;
            margin-bottom: 30px;
        }

        .btn-holder {
            display: flex;
            flex-wrap: wrap;
        }

        .btn {

            &.btn-primary {
                background-color: var(--first-btn-bg-color);
                border-color: var(--first-btn-bg-color);
                color: var(--first-btn-txt-color);
            }

            &.btn-link {
                color: var(--second-btn-txt-color);
            }
        }

        .slick-arrow {
            position: absolute;
            top: 50%;
            background: rgba($white, 0.25);
            border: none;
            padding: 0;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            font-size: 16px;
            box-shadow: 0 0 5px rgba($black, 0.1);
            outline: none;
            transform: translateY(-50%);
            z-index: 9;
            

            &.slick-prev {
                left: 3%;
            }

            &.slick-next {
                right: 3%;
            }

            &:hover {
                background: rgba($white, 0.5);
            }

            &:focus {
                outline: none;
            }
        }

        .slick-dots {
            margin: 0;
            padding: 0;
            list-style: none;
            position: absolute;
            bottom: 3%;
            left: 0;
            right: 0;
            text-align: center;

            li {
                display: inline-block;
                cursor: pointer;
                line-height: 1;

                button {
                    background: $white;
                    border: none;
                    border-radius: 20px;
                    font-size: 0;
                    padding: 0;
                    width: 10px;
                    height: 10px;
                    margin: 5px;
                    outline: none;
                    transition: width ease 0.3s;
                }

                &.slick-active {
                    button {
                        background: $primary;
                        width: 25px;
                    }
                }

                &:hover {
                    button {
                        background: $primary;
                    }
                }
            }
        }
    }
}
  