.promo-section {
    margin-top: var(--promo-top-spacing);
    margin-bottom: var(--promo-bottom-spacing);

    &.hs-bg {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: var(--promo-top-spacing);
        padding-bottom: var(--promo-bottom-spacing);
    }

    &.block-full-link {
        a {
            text-decoration: none;

            .section-block-title {
                color: $black;
            }
        }
    }

    .section-grid {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }

    .section-block {
        padding: 15px 0;
        display: flex;
        flex-direction: column;

        @include media-breakpoint-up(md) {
            flex-basis: 33.33%;
            max-width: 33.33%;
            padding: 0 15px;
        }
    }

    .section-block-inner {
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        background: $white;
        border-radius: 16px;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        flex-direction: row-reverse;

        .section-block-img {
            margin: 0;
            border-radius: 12px;
            overflow: hidden;
            
            @include media-breakpoint-up(lg) {
                flex-basis: 120px;
                max-width: 120px;
                height: 120px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .section-block-content {
            padding: 12px 15px;

            @include media-breakpoint-up(lg) {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex-basis: calc(100% - 120px);
                max-width: calc(100% - 120px);
            }
        }

        .section-block-title {
            margin: 0 0 10px;
            font-size: 18px;
            font-weight: 700;
            line-height: 1.5;
        }

        .btn-holder {
            line-height: 1;

            .btn {
                padding: 0;
                min-width: auto;
                min-height: auto;
                font-weight: 700;
                text-decoration: none;
                line-height: 1;

                span {
                    display: inline-block;
                    margin-top: -2px;
                }
            }
        }
    }

    &.center_align {
        .section-block-inner {
            flex-wrap: initial;
            flex-direction: column;
    
            .section-block-img {
                flex-basis: auto;
                max-width: 100%;
                height: auto;
            }
    
            .section-block-content {
                display: block;
                flex-basis: auto;
                max-width: 100%;
            }
        }
    }

    &.right_align {
        .section-block-inner {
            flex-direction: row;
        }
    }

    &.block-img-as-bg {
        &.center_align {
            .section-block-inner {
                text-align: center;
            }
        }

        &.right_align {
            .section-block-inner {
                justify-content: flex-start;
                text-align: right;

                .btn-holder {
                    .btn {
                        flex-direction: row-reverse;

                        span {
                            margin-top: 5px;
                            margin-left: 0;
                            margin-right: 7px;
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }

        .section-block-inner {
            position: relative;
            padding: 0;
            border-radius: 0;
            box-shadow: none;
            z-index: 9;
            min-height: 260px;
            align-items: flex-end;
            justify-content: flex-end;

            .section-block-img {
                flex-basis: auto;
                max-width: 100%;
                border-radius: 0;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -9;
                background: $black;

                img {
                    opacity: 0.5;
                }
            }

            .section-block-content {
                width: 100%;
                flex-basis: auto;
                max-width: initial;
                padding: 8%;
            }

            .section-block-title {
                color: $white;
            }

            .btn-holder {
                .btn {
                    color: $white;
                    opacity: 0.7;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}